<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to the text analyazer. Enter your text below</h1>
<!-- get method thi data get kare chhe  action thi te page ma jay chhe user-->
<form >
    <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <input type="checkbox" name="remove"> Remove Punctuations<br>
    <input type="checkbox" name="upercase"> Upper Case<br>
    <input type="checkbox" name="deletenewline"> New Line Remover<br>
    <input type="checkbox" name="spaceremover"> Space Remover<br>
    <input type="checkbox" name="charcount"> Count<br>

    <button type='submit'> Analyze Text</button>
</form>
</body>
</html>